.header{
  width: 100rem;
  margin: auto;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: black;
  display: flex;
  padding: 1rem;
  gap: 6rem;
  color: orange;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tech{
  width: 100rem;
  margin: auto;
  color: orange;
  text-align: center;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: black;
  padding: 1rem;
  gap: 6rem;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.techsub{
  border: 1px solid orange;
  font-size: larger;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color:orange;
}
.mastersub{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.resume{
  cursor: pointer;
  margin: auto;
  text-align: center;
  background-color: black;
  color: orange;
}
.education{
  width: 100rem;
  margin: auto;
  text-align: center;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: black;
  padding: 1rem;
  gap: 6rem;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edu{
  width: 30rem;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: black;
  color: orange;
  margin-bottom: 10px;
}
.edumain{
  display: flex;
  gap: 2rem;
  justify-content: center;
}