.pro{
    text-align: center;
    color: orange;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainHead{
    width: 30rem;
    height: 20rem;
    padding: 2rem;
    gap: 2rem;
    border: 1px solid orange;
    background-color: black;
    border-radius: 10px;
    color: orange;
    display: flex;
}
.icon{
    margin-top: 1.5rem;
}
.link{
    display: flex;
}
.linkMain{
    text-decoration: none;
}
.basic{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}